<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="AppFiles_SC">
      <Component Id="Files_SC" Guid="e1a2b3c4-d5e6-4f7a-8b9c-0d1e2f3a4b5c" Directory="INSTALLFOLDER">
        <File Id="FTdx101WebAppExe_SC" Source="$(var.PublishDir_SC)\FTdx101_WebApp.exe" KeyPath="yes" />
        <File Id="AppSettingsJson_SC" Source="$(var.PublishDir_SC)\appsettings.json" />
        <!-- Add more files as needed -->
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>