@page
@model FTdx101_WebApp.Pages.CalibrationsModel

<h1>Calibration Tables</h1>

<div id="calibration-app">
    <p>Loading calibration tables…</p>
</div>

<script src="/js/calibration-editor.js"></script>
